html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
}


body {
    background-color: rgb(47,48,48);
    background-image: url('Background-Image.png');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#center {
    border-radius: 15px;
    border-color: black;
    background-color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 325px;
}

#Title {
    margin-top: 5%;
    /* margin-left: 50%; */
    text-align: center;
    color: white;
    text-align: center;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
}

#TitleAnimatedFlow {
    margin-top: 5%;
    /* margin-left: 50%; */
    text-align: center;
    color: white;
    text-align: center;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    animation: LoginAnim 1s forwards;
    animation-delay: 0.5s;
}

#TitleRegOrLog {
    color:rgba(255,255,255, 0);
    font-size: 35px;
    text-align: center;
    animation: fadein 2s forwards;
}

@keyframes fadein {
    80% {
        color: rgba(255,255,255, 0)
    }
    
    to {
        color: rgba(255,255,255, 1)
    }
}

@keyframes LoginAnim {
    from {
        size: 100%;
        margin-top: 5%;
    }

    60% {
        margin-top: 1%;
    }

    to {
        size:50%;
        font-size: 24px;
        margin-top:3%
    }
}


.button {
    border-radius: 15px;
    border-style: none;
    background-color: rgb(217, 217, 217);
    height: 35px;
    text-align: center;
    animation: fillout 0.5s forwards;
    font-size: large;
    margin: 15px 0px 15px 0px;
}

.button:hover {
    background-color: rgb(201, 201, 201);
    animation: fillin 0.2s forwards;
}

.button:not(:hover) {
    animation-name: fillout;
    animation-duration: 0.5s;
}

@keyframes fillout {
    from {
        width: 300px;
    }
    to {
        width: 280px;
    }
}

@keyframes fillin {
    from {
        width: 280px;
    }
    to {
        width: 300px;
    }
}

#TeamResistorsTitle {
    color: rgb(59, 58, 58);
    font-size: 18px;
    position: absolute;
    transform: translate(0%, 0%);
    bottom: 0px;
    margin: 0px;
}

#regForm {
    background-color: white;
    border-radius: 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
    padding-left: 20px;
    padding-right: 20px;
}

#regForm *:not(:last-child) {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(201, 201, 201);
    border-width: 0px;
    width: 380px;
    height: 40px;
    padding: 0px 5px 0px 5px;
}

#regForm *:last-child {
    margin-top: 20px;
    width:50%;
    height: 50px;
    border-width: 0px;
    border-radius: 15px;
    background-color: rgb(47,48,48);
    color: white;
}

#regForm *:last-child:hover {
    background-color: rgb(196, 196, 196);
    color: black;
}

#regForm *:focus {
    background-color: rgb(59, 58, 58);
    color: white;
}

#TitleOnMain {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 35px;
    color: white;
    margin-top: 15px;
    margin-left: 35px;
    display: inline-block;
}

#AsideUserList {
    border-radius: 25px;
    margin: 10px 50px 0px 30px;
    background-color: rgb(59, 58, 58);
    width: 300px;
    height: 500px;
}

#GoBackButton {
    background-color: rgb(47,48,48);
    color: white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 25%;
    text-align: center;
}

#SearchingFrame {
    border-radius: 50px;
    background-color: rgb(59, 58, 58);
    width: 300px;
    min-height: 50px;
    margin: 10px 50px 0px 30px;
    text-align: center;
}



a {
    text-decoration: none;
    color: none;
}