<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta id="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liberty - Главная</title>
</head>
<body>
    <b id="TitleOnMain">LIBERTY</b>

    <div id="SearchingFrame">Искать...</div>
    <div id="AsideUserList"></div>
</body>
</html>