<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liberty</title>
</head>
<body>
    <p id="Title">LIBERTY</p>

    <div id="center">        
        <button class="button" onclick="login()">ВОЙТИ</button>
        <p id="or">ИЛИ</p>
        <button class="button" onclick="register()">ЗАРЕГИСТРИРОВАТЬСЯ</button>       
    </div>

    <p id="TeamResistorsTitle">Team Resistance</p>

    <script src="/static/logorreg.js"></script>
</body>
</html>