<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liberty - Зарегистрироваться</title>
</head>
<body>
    <p id="TitleAnimatedFlow">LIBERTY</p>
    <p id="TitleRegOrLog">Зарегестрироваться</p>

    <div id="regForm">
        <input type="text" placeholder="Ваше имя" name="username"> <br>
        <input type="email" placeholder="Введите адресс Вашей электронной почты" name="email"> <br>
        <input type="password" placeholder="Ваш пароль" name="pass"> <br>
        <input type="password" placeholder="Подтверждение пароля" name="confirmedPass"> <br>
        <button id="ConfirmButton" name="confirmButton">подтверждение</button>
    </form>
</body>
</html>